<p id="notice"><%= notice %></p>
<p>
  <b>标题:</b>
  <%= @poetry.title %>
</p>
<p>
  <b>内容:</b>  <br/>
  <%= @poetry.content %>
</p>
<p>
  <b>作者:</b>
  <%= @poetry.author %>
</p>

<%= link_to '编辑', edit_poetry_path(@poetry) %> |
<%= link_to '返回', poetries_path %>
