<p id="notice"><%= notice %></p>
<p>
  <b>标题:</b>
  <%= @piece.title %>
</p>
<p>
  <b>内容:</b>  <br/>
  <%= @piece.content %>
</p>
<p>
  <b>作者:</b>
  <%= @piece.author %>
</p>

<%= link_to '编辑', edit_piece_path(@piece) if @piece.can_edit?(current_user) %> |
<%= link_to '返回', pieces_path %>
