<h1>歌曲列表</h1>

<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
    <th>作者</th>
    <th>时间</th>
    <th>操作</th>
  </tr>

  <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td width="60%"><%= song.content -%></td>
        <td><%= song.author -%></td>
        <td><%= song.created_at.strftime('%Y-%m-%d %H:%M:%S') -%></td>
        <td>
          <%= link_to '查看', song %>
          <%= link_to '编辑', edit_song_path(song) %>
          <%= link_to '删除', song, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
</table>
<div class="panel-footer clearfix">
  <%= will_paginate @songs %>
  共 <%= @songs.total_entries %> 条
</div>
<br/>

<%= link_to '新建歌曲', new_song_path %>
