<p id="notice"><%= notice %></p>
<p>
  <b>Title:</b>
  <%= @song.title %>
</p>
<p>
  <b>content:</b>  <br/>
  <%= @song.content %>
</p>
<p>
  <b>author:</b>
  <%= @song.author %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
