<p id="notice"><%= notice %></p>

<p>
  <b>标题</b>
  <%= @prose.title %>
</p>
<p>
  <b>内容</b>  <br/>
  <%= @prose.content %>
</p>
<p>
  <b>作者</b>
  <%= @prose.author %>
</p>
<%= link_to '编辑', edit_prose_path(@prose) if @prose.can_edit?(current_user) %> |
<%= link_to '返回', proses_path %>
