<div class="item">
  <div class="left">

  </div>
  <div class="right">
    <p class="title"><%= link_to item.title, item -%></p>

    <p class="description">
      <%= item.content.to_s.truncate(107) -%>
      <% if item.class==Poetry %>
          <%= link_to '编辑', edit_poetry_path(item) if item.can_edit?(current_user) %>
      <% elsif item.class==Prose  %>
          <%= link_to '编辑', edit_prose_path(item) if item.can_edit?(current_user) %>
      <% elsif item.class==Piece  %>
          <%= link_to '编辑', edit_piece_path(item) if item.can_edit?(current_user) %>
      <% elsif item.class==Song  %>
          <%= link_to '编辑', edit_song_path(item) if item.can_edit?(current_user) %>
      <% end %>
      <%= link_to '删除', item, method: :delete, data: {confirm: 'Are you sure?'} if item.can_delete?(current_user) %>
    </p>

    <p class="bottom">
      由
      <%= item.user.try :name -%>
      于
      <%= item.created_at.strftime('%Y-%m-%d %H:%M:%S') -%>
      发布，
      作者：<%= link_to item.author, item.author_class -%>
    </p>
  </div>
</div>