<ul>
  <li><%= link_to '首页', '/home' -%></li>
  <li><%= link_to '诗词', '/poetries' -%></li>
  <li><%= link_to '美文', '/proses' -%></li>
  <li><%= link_to '段子', '/pieces' -%></li>
  <li><%= link_to '歌曲', '/songs' -%></li>
  <li><%= link_to '作者', '/authors' -%></li>
  <% if current_user and current_user.is_admin? %>
      <li><%= link_to '用户', '/users' -%></li>
  <% end %>
</ul>